<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ERROR</title>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src ='https://cdn.socket.io/socket.io-1.2.0.js'></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <style>
    </style>
</head>
<body>

<h1>ERRORs</h1>
<p><%=error.status %></p>
<p><%=error %></p>



</body>
</html>
